.card {
  --trs-filterTime: 300ms;
  --trs-transformTime: 250ms;
  --trs-type: ease;
  --clr-primary: #af0a1d;
  --clr-cardBG: #222222;

  width: 200px;
  height: 318px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(123, 123, 123, 0.7);
  background-color: var(--clr-cardBG);
  transition: transform var(--trs-transformTime) var(--trs-type),
    filter var(--trs-filterTime) var(--trs-type),
    box-shadow var(--trs-filterTime) var(--trs-type);
  h3 {
    margin: 15px 0 0 15px;
  }

  img {
    width: 200px;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &:is(:hover, :focus, :active) {
    box-shadow: none;
    transform: scale(105%);
    filter: drop-shadow(5px 5px 20px var(--clr-primary));
  }
  outline: none;
}

.imgNotFound {
  object-fit: fill;
}
