.comicsCard {
  margin: 1em;
  h3 {
    width: 205px;
    font-weight: 700;
    font-size: 1.225rem;
    line-height: 16px;
    margin-bottom: 5px;
  }
}

.comicsDescr {
  margin-top: 0.5em;
  padding-left: 5px;
}
