@import '/src/Assets/Global/Global.scss';

.btn {
	display: block;
	height: 38px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 0.75px;
	transition: transform 0.15s ease-in-out, translateY 0.1s ease-in-out;
	@include cornersChopper(0, 8px, 0, 0, 8px);
}

.btn:hover {
	transform: scale(110%);
}

.btn:active {
	transform: translateY(-5px);
}
