.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
  h1 {
    cursor: pointer;
    span {
      color: #9f0013;
    }
  }
  ul {
    display: flex;
  }

  li {
    margin-right: 5px;
    cursor: pointer;
  }
  li + li {
    margin-left: 5px;
    margin-right: 0;
  }
}
.activeLink {
  color: #9f0013;
}
